<div id="<%= dom_id tarea_realizada %>">
  <p>
    <strong>Parte diario:</strong>
    <%= tarea_realizada.parte_diario_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= tarea_realizada.descripcion %>
  </p>

  <p>
    <strong>Tarea realizada:</strong>
    <%= tarea_realizada.tarea_realizada %>
  </p>

  <p>
    <strong>Cantidad ejecutada:</strong>
    <%= tarea_realizada.cantidad_ejecutada %>
  </p>

  <p>
    <strong>Nro modulo:</strong>
    <%= tarea_realizada.nro_modulo %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= tarea_realizada.hora_inicio %>
  </p>

  <p>
    <strong>Hora fin:</strong>
    <%= tarea_realizada.hora_fin %>
  </p>

  <p>
    <strong>En proceso:</strong>
    <%= tarea_realizada.en_proceso %>
  </p>

  <p>
    <strong>Finalizado:</strong>
    <%= tarea_realizada.finalizado %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= tarea_realizada.observaciones %>
  </p>

</div>
