<div class="row g-2 mb-2 orden-servicio-fields">
  <div class="col-md-2">
    <%= f.label :orden_servicio_id, "Código de Orden" %>
    <%= f.collection_select :orden_servicio_id, OrdenServicio.all, :id, :codigo, {prompt: "Seleccionar"}, class: "form-select" %>
  </div>
  <div class="col-md-2">
    <%= f.label :sector_id, "Sector" %>
    <%= f.collection_select :sector_id, sectores, :id, :nombre, {prompt: "Sector"}, class: "form-select" %>
  </div>
  <div class="col-md-2">
    <%= f.label :subproducto_id, "Subproducto" %>
    <%= f.collection_select :subproducto_id, subproductos, :id, :nombre, {prompt: "Subproducto"}, class: "form-select" %>
  </div>
  <div class="col-md-2">
    <%= f.label :material_id, "Material" %>
    <%= f.collection_select :material_id, materiales, :id, :nombre, {prompt: "Material"}, class: "form-select" %>
  </div>
  <div class="col-md-2">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion, class: "form-control", placeholder: "Descripción" %>
  </div>
  <div class="col-md-1">
    <%= f.label :tiempo %>
    <%= f.text_field :tiempo, class: "form-control", placeholder: "Tiempo" %>
  </div>
  <div class="col-md-1 d-flex align-items-end">
    <button type="button" class="btn btn-danger remove-orden">✕</button>
  </div>
</div>