<div id="<%= dom_id proyecto %>">
  <p>
    <strong>Nombre:</strong>
    <%= proyecto.nombre %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= proyecto.cliente_id %>
  </p>

  <p>
    <strong>Tipo obra:</strong>
    <%= proyecto.tipo_obra_id %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= proyecto.ubicacion %>
  </p>

  <p>
    <strong>Plazo contrato:</strong>
    <%= proyecto.plazo_contrato %>
  </p>

  <p>
    <strong>Documentacion:</strong>
    <%= proyecto.documentacion %>
  </p>

</div>
