<p style="color: green"><%= notice %></p>

<%= render @proyecto %>

<div>
  <%= link_to "Editar este proyecto", edit_proyecto_path(@proyecto) %> |
  <%= link_to "Volver a proyectos", proyectos_path %>

  <%= button_to "Eliminar este proyecto", @proyecto, method: :delete %>
</div>
