<%= form_with(model: escala_salarial) do |form| %>
  <% if escala_salarial.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(escala_salarial.errors.count, "error") %> prohibited this escala_salarial from being saved:</h2>

      <ul>
        <% escala_salarial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :categoria %>
  </div>

  <div>
    <%= form.label :sueldo_base, style: "display: block" %>
    <%= form.text_field :sueldo_base %>
  </div>

  <div>
    <%= form.label :observaciones, style: "display: block" %>
    <%= form.text_area :observaciones %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
