<p style="color: green"><%= notice %></p>

<%= render @escala_salarial %>

<div>
  <%= link_to "Editar escala salarial", edit_escala_salarial_path(@escala_salarial) %> |
  <%= link_to "Volver a escala salarials", escala_salarials_path %>

  <%= button_to "Eliminar escala salarial", @escala_salarial, method: :delete %>
</div>
