<%= form_with(model: tipo_orden_servicio, local: true) do |form| %>
  <% if tipo_orden_servicio.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(tipo_orden_servicio.errors.count, "error") %> impidieron guardar el tipo de orden:</h5>
      <ul>
        <% tipo_orden_servicio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit tipo_orden_servicio.new_record? ? "Crear Tipo de Orden" : "Actualizar Tipo de Orden", class: "btn btn-primary" %>
  </div>
<% end %>
