<p style="color: green"><%= notice %></p>

<%= render @tipo_orden_servicio %>

<div>
  <%= link_to "Edit this tipo orden servicio", edit_tipo_orden_servicio_path(@tipo_orden_servicio) %> |
  <%= link_to "Back to tipo orden servicios", tipo_orden_servicios_path %>

  <%= button_to "Destroy this tipo orden servicio", @tipo_orden_servicio, method: :delete %>
</div>
