<div id="<%= dom_id operario %>">
  <p>
    <strong>Nombre:</strong>
    <%= operario.nombre %>
  </p>

  <p>
    <strong>Legajo:</strong>
    <%= operario.legajo %>
  </p>

  <p>
    <strong>Sector:</strong>
    <%= operario.sector %>
  </p>

  <p>
    <strong>Activo:</strong>
    <%= operario.activo %>
  </p>

</div>
