<%= form_with(model: tipo_obra) do |form| %>
  <% if tipo_obra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_obra.errors.count, "error") %> prohibited this tipo_obra from being saved:</h2>

      <ul>
        <% tipo_obra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
