<%= form_with(model: tipo_obra, local: true) do |form| %>
  <% if tipo_obra.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(tipo_obra.errors.count, "error") %> impidieron guardar el tipo de obra:</h5>
      <ul>
        <% tipo_obra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit tipo_obra.new_record? ? "Crear Tipo de Obra" : "Actualizar Tipo de Obra", class: "btn btn-primary" %>
  </div>
<% end %>
