<p style="color: green"><%= notice %></p>

<%= render @tipo_obra %>

<div>
  <%= link_to "Edit this tipo obra", edit_tipo_obra_path(@tipo_obra) %> |
  <%= link_to "Back to tipo obras", tipo_obras_path %>

  <%= button_to "Destroy this tipo obra", @tipo_obra, method: :delete %>
</div>
