<p style="color: green"><%= notice %></p>

<%= render @tipo_obra %>

<div>
  <%= link_to "Editar este tipo obra", edit_tipo_obra_path(@tipo_obra) %> |
  <%= link_to "Volver a tipo obras", tipo_obras_path %>

  <%= button_to "Eliminar este tipo obra", @tipo_obra, method: :delete %>
</div>
