<div id="<%= dom_id orden_servicio %>">
  <p>
    <strong>Proyecto:</strong>
    <%= orden_servicio.proyecto_id %>
  </p>

  <p>
    <strong>Tipo orden servicio:</strong>
    <%= orden_servicio.tipo_orden_servicio_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= orden_servicio.descripcion %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= orden_servicio.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha entrega:</strong>
    <%= orden_servicio.fecha_entrega %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= orden_servicio.estado %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= orden_servicio.observaciones %>
  </p>

</div>
