<p style="color: green"><%= notice %></p>

<%= render @orden_servicio %>

<div>
  <%= link_to "Editar orden servicio", edit_orden_servicio_path(@orden_servicio) %> |
  <%= link_to "Volver a orden servicios", orden_servicios_path %>

  <%= button_to "Eliminar orden servicio", @orden_servicio, method: :delete %>
</div>
