<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(producto.errors.count, "error") %> impidieron guardar el producto:</h5>
      <ul>
        <% producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :descripcion, class: "form-label" %>
    <%= form.text_area :descripcion, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit producto.new_record? ? "Crear Producto" : "Actualizar Producto", class: "btn btn-primary" %>
  </div>
<% end %>
