<div id="<%= dom_id documento_proyecto %>">
  <p>
    <strong>Proyecto:</strong>
    <%= documento_proyecto.proyecto_id %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= documento_proyecto.nombre %>
  </p>

  <p>
    <strong>Presente:</strong>
    <%= documento_proyecto.presente %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= documento_proyecto.observaciones %>
  </p>

</div>
