<%= form_with(model: documento_proyecto) do |form| %>
  <% if documento_proyecto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(documento_proyecto.errors.count, "error") %> prohibited this documento_proyecto from being saved:</h2>

      <ul>
        <% documento_proyecto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :proyecto_id, style: "display: block" %>
    <%= form.text_field :proyecto_id %>
  </div>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :presente, style: "display: block" %>
    <%= form.check_box :presente %>
  </div>

  <div>
    <%= form.label :observaciones, style: "display: block" %>
    <%= form.text_area :observaciones %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
