<p style="color: green"><%= notice %></p>

<%= render @documento_proyecto %>

<div>
  <%= link_to "Editar este documento proyecto", edit_documento_proyecto_path(@documento_proyecto) %> |
  <%= link_to "Volver a documento proyectos", documento_proyectos_path %>

  <%= button_to "Eliminar este documento proyecto", @documento_proyecto, method: :delete %>
</div>
