<div id="<%= dom_id tiempo_muerto %>">
  <p>
    <strong>Parte diario:</strong>
    <%= tiempo_muerto.parte_diario_id %>
  </p>

  <p>
    <strong>Tipo tiempo muerto:</strong>
    <%= tiempo_muerto.tipo_tiempo_muerto_id %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= tiempo_muerto.hora_inicio %>
  </p>

  <p>
    <strong>Hora fin:</strong>
    <%= tiempo_muerto.hora_fin %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= tiempo_muerto.observaciones %>
  </p>

</div>
