<%= form_with(model: retrabajo, local: true) do |form| %>
  <% if retrabajo.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(retrabajo.errors.count, "error") %> impidieron guardar el retrabajo:</h5>
      <ul>
        <% retrabajo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :detalle_produccion_id, class: "form-label" %>
    <%= form.text_field :detalle_produccion_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :motivo, class: "form-label" %>
    <%= form.text_field :motivo, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :descripcion, class: "form-label" %>
    <%= form.text_area :descripcion, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit retrabajo.new_record? ? "Crear Retrabajo" : "Actualizar Retrabajo", class: "btn btn-primary" %>
  </div>
<% end %>
