<p style="color: green"><%= notice %></p>

<%= render @retrabajo %>

<div>
  <%= link_to "Editar este retrabajo", edit_retrabajo_path(@retrabajo) %> |
  <%= link_to "Volver a retrabajos", retrabajos_path %>

  <%= button_to "Eliminar este retrabajo", @retrabajo, method: :delete %>
</div>
