<div id="<%= dom_id no_conformidad %>">
  <p>
    <strong>Detalle produccion:</strong>
    <%= no_conformidad.detalle_produccion_id %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= no_conformidad.motivo %>
  </p>

  <p>
    <strong>Cantidad afectada:</strong>
    <%= no_conformidad.cantidad_afectada %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= no_conformidad.observaciones %>
  </p>

</div>
