<p style="color: green"><%= notice %></p>

<%= render @no_conformidad %>

<div>
  <%= link_to "Editar no conformidad", edit_no_conformidad_path(@no_conformidad) %> |
  <%= link_to "Volver a no conformidads", no_conformidads_path %>

  <%= button_to "Eliminar no conformidad", @no_conformidad, method: :delete %>
</div>
