<p style="color: green"><%= notice %></p>

<%= render @subproducto %>

<div>
  <%= link_to "Editar subproducto", edit_subproducto_path(@subproducto) %> |
  <%= link_to "Volver a subproductos", subproductos_path %>

  <%= button_to "Eliminar subproducto", @subproducto, method: :delete %>
</div>
