<div id="<%= dom_id material %>">
  <p>
    <strong>Nombre:</strong>
    <%= material.nombre %>
  </p>

  <p>
    <strong>Unidad:</strong>
    <%= material.unidad %>
  </p>

  <p>
    <strong>Stock actual:</strong>
    <%= material.stock_actual %>
  </p>

  <p>
    <strong>Stock minimo:</strong>
    <%= material.stock_minimo %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= material.observaciones %>
  </p>

</div>
