<p style="color: green"><%= notice %></p>

<%= render @material %>

<div>
  <%= link_to "Editar material", edit_material_path(@material) %> |
  <%= link_to "Volver a materials", materials_path %>

  <%= button_to "Eliminar material", @material, method: :delete %>
</div>
