<div id="<%= dom_id detalle_produccion %>">
  <p>
    <strong>Parte produccion:</strong>
    <%= detalle_produccion.parte_produccion_id %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= detalle_produccion.descripcion %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= detalle_produccion.componente %>
  </p>

  <p>
    <strong>Cantidad a ejecutar:</strong>
    <%= detalle_produccion.cantidad_a_ejecutar %>
  </p>

  <p>
    <strong>Cantidad ejecutada:</strong>
    <%= detalle_produccion.cantidad_ejecutada %>
  </p>

  <p>
    <strong>Aceptados:</strong>
    <%= detalle_produccion.aceptados %>
  </p>

  <p>
    <strong>Rechazados:</strong>
    <%= detalle_produccion.rechazados %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= detalle_produccion.hora_inicio %>
  </p>

  <p>
    <strong>Hora fin:</strong>
    <%= detalle_produccion.hora_fin %>
  </p>

  <p>
    <strong>Tiempo empleado:</strong>
    <%= detalle_produccion.tiempo_empleado %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= detalle_produccion.observaciones %>
  </p>

</div>
