<p style="color: green"><%= notice %></p>

<%= render @detalle_produccion %>

<div>
  <%= link_to "Editar detalle produccion", edit_detalle_produccion_path(@detalle_produccion) %> |
  <%= link_to "Volver a detalle produccions", detalle_produccions_path %>

  <%= button_to "Eliminar detalle produccion", @detalle_produccion, method: :delete %>
</div>
