<%= form_with(model: parte_produccion, local: true) do |form| %>
  <% if parte_produccion.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(parte_produccion.errors.count, "error") %> impidieron guardar el parte:</h5>
      <ul>
        <% parte_produccion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :operario_id, class: "form-label" %>
    <%= form.text_field :operario_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :orden_servicio_id, class: "form-label" %>
    <%= form.text_field :orden_servicio_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :fecha, class: "form-label" %>
    <%= form.date_field :fecha, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :jornada_laboral, class: "form-label" %>
    <%= form.number_field :jornada_laboral, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :observaciones, class: "form-label" %>
    <%= form.text_area :observaciones, class: "form-control" %>
  </div>

  <div class="text-end">
    <%= form.submit parte_produccion.new_record? ? "Crear Parte" : "Actualizar Parte", class: "btn btn-primary" %>
  </div>
<% end %>
